doctype html
html
  head
    title= title
    link(rel='stylesheet',media="(min-width: 300px)", href='/stylesheets/style1.css')
    link(rel='stylesheet',media="(min-width: 1000px)", href='/stylesheets/style.css')
    script(src="/javascripts/cos.js")
  body
    block content
